[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = "*"
transformers = "*"
accelerate = "*"
scipy = "*"
safetensors = "*"

[dev-packages]

[requires]
python_version = "3.11"
